.re_gc{border: 1px solid #2244cc;height: 888px;margin-top: 28px;font-size: 0px}
.re_gc>h3{border: 1px solid #2b92d4}
.re_gc>.re_gi{width: 222px;height: 382px;border: 1px solid #e13157;margin: 14px 0px 5px 20px;display: inline-block;}
.re_gc>h3{font-size: 25px;padding: 23px 33px;color: red;display: inline-block;}
