<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>BookCoverServlet</servlet-name>
    <servlet-class>exam.web.servlet.BookCoverServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowerBookServlet</servlet-name>
    <servlet-class>exam.web.servlet.BrowerBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGoodItem</servlet-name>
    <servlet-class>exam.web.servlet.DeleteGoodItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>exam.web.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginSevlet</servlet-name>
    <servlet-class>exam.web.servlet.LoginSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NextpageServlet</servlet-name>
    <servlet-class>exam.web.servlet.NextpageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepageServlet</servlet-name>
    <servlet-class>exam.web.servlet.PrepageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>exam.web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeeShoppingCart</servlet-name>
    <servlet-class>exam.web.servlet.SeeShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>exam.web.servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingItemSelect</servlet-name>
    <servlet-class>exam.web.servlet.ShoppingItemSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VertifyCodeServlet</servlet-name>
    <servlet-class>exam.web.servlet.VertifyCodeServlet</servlet-class>
  </servlet>
  
  

  <servlet-mapping>
    <servlet-name>VertifyCodeServlet</servlet-name>
    <url-pattern>/VertifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingItemSelect</servlet-name>
    <url-pattern>/ShoppingItemSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeeShoppingCart</servlet-name>
    <url-pattern>/SeeShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepageServlet</servlet-name>
    <url-pattern>/PrepageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextpageServlet</servlet-name>
    <url-pattern>/NextpageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSevlet</servlet-name>
    <url-pattern>/LoginSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodItem</servlet-name>
    <url-pattern>/DeleteGoodItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowerBookServlet</servlet-name>
    <url-pattern>/BrowerBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookCoverServlet</servlet-name>
    <url-pattern>/BookCoverServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncordingFilter</display-name>
    <filter-name>EncordingFilter</filter-name>
    <filter-class>exam.web.filter.EncordingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncordingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>exam.web.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/mainpage/shoppingcartpage/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>